.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  align-items: center;
}

@media (max-width: 720px) {
  .container {
    max-width: 100%;
    padding: 20px;
  }
}
